<nav class="main-menu">
                           <ul class="menu-area-main">
						   {% for item in items %}
                              <li ">
                                 <a href="/{{ item.link }}">{{ item.text }}</a>
                              </li>
							{% endfor %}
                           </ul>
                        </nav>
